node_modules/
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.arkui-x
/.reasonix
/.agents
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
*.log
*.tmp
/diagnosis/hilog_raw/
/diagnosis/hilog_parsed/
/diagnosis/mem_buffer_*.txt
/创意说明.md
